<section id="main-content" class="container clearfix">
  <section class="content content-404">
    <article>
      <div id="error-404">
        <span data-number="401">401</span>
      </div>
      <h1 class="large-heading text-center">Unauthorized</h1>
      <h2 class="light-heading text-center">Maybe you should login or register...</h2>
    </article>
  </section>
</section>