<section id="main-content" class="container clearfix">
  <section class="content content-404">
    <article>
      <div id="error-404">
        <span data-number="403">403</span>
      </div>
      <h1 class="large-heading text-center">Forbidden</h1>
    </article>
  </section>
</section>