<section id="footer-top">
  <div class="container clearfix">
    <div class="col-md-8">
      <ul class="contact">
        <li class="address">Esme SUDRIA</li>
        <li class="phone">Where is the number ?? Maybe on the youtube link...</li>
        <li class="email"><a href="mailto:hohoho@perenoel.fi">hohoho@santaclause.fi</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="social-icons">
        <a href="https://twitter.com/troll" class="social-icon twitter"></a>
        <a href="https://www.facebook.com/troll" class="social-icon facebook"></a>
        <a href="https://youtu.be/dQw4w9WgXcQ" class="social-icon youtube"></a>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <section class="container">
    <div class="col-md-6">
      <nav id="footer-nav" class="clearfix">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/device/all">Device</a></li>
        </ul>
      </nav>
    </div>
  </section>
</footer>
