<header id="navbar-id">
  <div class="container">
    <nav id="main-nav">
      <ul>
          <li class="{{#if home}}current{{/if}}">
              <a href="/">Home</a>
          </li>
          <li><a href="/device/all">Devices</a></li>
      </ul>
    </nav>
  </div>
</header>
