<html>
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{title}} | WebService</title>

  {{> meta}}

  {{> styles page}}
</head>

<body>
{{> top-bar}}

{{> nav page}}

{{{body}}}

{{> footer}}

{{> scripts page}}
</body>
</html>