<div id="main-content" class="container">
    <h2>Remove {{group.groupName}}</h2>

    <h4>Are you sure you want to remove group "{{group.groupName}}" ?</h4>
    <br><br>
    <a href="/group/view/{{group._id}}" class="btn btn-danger">Cancel</a>
    <a href="#" id="removeGroup" data-group-id="{{group._id}}" class="btn btn-success">Remove !</a>

</div>